.product-page {
  padding: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  width: 100%;
  justify-content: center;
}

.product-page__action {
  width: 100%;
  margin-bottom: 0.3rem;
}

.product-page__color,
.product-page__buy {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.product-page__buy {
  justify-content: space-between;
  width: 100%;
}
.product-page__text {
  color: $dark-color;
  min-height: 25rem;
  width: 20rem;
  max-width: 100%;
  position: relative;
  margin-top: 3rem;
  font-size: 1.2rem;
  h1 {
    padding-top: 2rem;
    font-size: 3rem;
  }
  p {
    padding: 1rem 0;
  }
}

#dark .product-page__text {
  color: $light-color;
  transition: $transition-time;
}
#light .product-page__text {
  transition: $transition-time;
  color: $dark-color;
}

.color-box {
  display: flex;
  justify-content: center;
  width: 100%;
  transform: translateY(-3.5rem);
}

.color {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  margin: 0.3rem;
  border: 1px solid $dark-color;
}
#dark .color {
  border: 1px solid $light-color;
}

// 549px
@media (max-width: $mobile-width) {
  .product-page__text {
    width: 100%;
    padding: 0 1rem 0 2rem;
    font-size: 1.5rem;
    h1 {
      padding-top: 0;
    }
  }
}

.red {
  background-color: red;
}
.green {
  background-color: darkgreen;
}
.creamy {
  background-color: rgb(255, 225, 188);
}
.gray {
  background-color: #0e0e0e;
}
.white {
  background-color: #fff;
}
.blue {
  background-color: #047ee2;
}
.navy {
  background-color: #001066;
}
