.products-container {
  text-align: center;
  width: 95vw;

  h1 {
    margin-top: 2rem;
  }
}

.products {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2rem;

}

.single-product {
  padding: 1rem;
  width: 20rem;
  h2 {
    margin: 1rem;
    align-content: center;
  }
  img {
    height: 12rem;
  }
}
