.product-page {
    padding: 1rem 0;
    display: flex;
    // justify-content: space-between;
    width: 55rem;
    height: 44rem;

}

.scene {
    width: 25rem;
}

#dark .scene {
    background-color: $dark-color;
    transition: $transition-time;
}
#light .scene {
    transition: $transition-time;
    background-color: $light-color;
}


.CTA-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}
.text {
    background-color: $light-color;
    color: $dark-color;
    height: 30rem;
    width: 30rem;
    padding: 1rem;
    margin-top: 3rem;
    font-size: 1.2rem;
    h1 {
        padding-top: 2rem;
        font-size: 3rem;
    }
    p {
        padding: 1rem 0;
    }
    
}
#dark .text {
    color: $light-color;
    background-color: $dark-color;
    transition: $transition-time;
}
#light .text {
    transition: $transition-time;
    background-color: $light-color;
    color: $dark-color;
}

.color-box {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 25rem;
    transform: translateY(-3.5rem);
}

.color {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    margin: .3rem;
    border: 1px solid $dark-color;
}
#dark .color {
    border: 1px solid $light-color;
}

.red {background-color: red;}
.green {background-color: darkgreen;}
.creamy {background-color: rgb(255, 225, 188);}
.gray {background-color: rgb(32, 32, 32);}
.white {background-color: #fff;}
.light-blue {background-color: lightblue;}
