.shopping-cart {
  position: relative;
  top: 5rem;
  text-align: center;
  height: 30rem;
  width: 30rem;
  // overflow: hidden;
  h1 {
    margin: 4rem;
  }
}

// .filled-cart {

// }

.empty-cart {
  position: relative;
  top: 6rem;
  text-align: center;
  h2 {
    font-size: 2.2rem;
  }

  p {
    color: #ff0303;
    font-size: 1.8rem;
    text-align: center;
    font-weight: bold;
  }
  
  :first-child {
    width: 8rem;
    height: 8rem;
  }
}
.empty-cart-link {
  display: flex;
  justify-content: center;
  width: 30rem;
}

.cart-item-container {
  display: flex;
  gap: 1rem;
}

.cart-item {
  display: flex;
  align-items: center;
  img {
    width: 10rem;
  }
}


.item-text-box {
  width: 15rem;
}

.amount-box {
  display: flex;
  align-items: center;
  gap: 0.1rem;
  // :first-child, :last-child {
  > * {
    width: 2rem;
    height: 2rem;
    font-size: 1.3rem;
  }
}
.sub-total {
    display: flex;
    align-items: center;
    justify-content: center;
    p {
        font-size: 1.2rem;
        height: 2rem;
    }

}

.total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    p {
        font-size: 1.5rem;
        margin: .5rem;
        font-weight: 600;
    }
}

